{% extends "website/base.html" %}
{% block content %}
    <div style="display: table">
        <h1 style="margin-bottom: 2rem; display: inline">Arrangementer</h1>
        <form action="/createEvent/">
            {% csrf_token %}
            <input type="submit" value="Opprett" class="btn btn-primary" style="display: table-cell; position: absolute; right: 0; vertical-align: middle"/>
        </form>

    </div>
    <br><br><br>
    {% for arr in arrangementer  %}
    <form method="POST">
        {% csrf_token %}
            <div class="card" id="event-card" style="margin-bottom: 2rem;">
                <div class="card-header">
                    {{ arr.type }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ arr.title }}</h5>
                    <h6 class="card-title">Dato: {{ arr.tidspunkt }}</h6>
                    <h6 class="card-title">Sted: {{ arr.location }}</h6>
                    <p class="card-text">Mer informasjon: {{arr.innhold}} </p>
                    <input type="hidden" name="arrId" value={{arr.id}}>
                    {% if arr.id in alledeltok %}
                    <input type="submit" name="meldAv" value="Meld deg av" class="btn btn-primary" style="background-color:#E01717; border-color:#E01717;"/>
                    {% else %}
                    <input type="submit" name="meldPaa" value="Meld deg på" class="btn btn-primary"/>
                    {% endif %}
                </div>
            </div>
    </form>
    {% endfor %}
{% endblock content %}