{% extends "website/base.html" %}
{% block content %}
    <div style="display: table">
        <h1 style="margin-bottom: 2rem; display: inline">Arrangementer</h1>
        <form action="/createEvent/">
            {% csrf_token %}
            <input type="submit" value="Opprett" class="btn btn-primary" style="display: table-cell; position: absolute; right: 0; vertical-align: middle"/>
        </form>

    </div>
    <br><br><br>
    <form method="POST">
        {% csrf_token %}
        {% for arr in arrangementer  %}
            <div class="card" id="event-card" style="margin-bottom: 2rem;">
                <div class="card-header">
                    {{ arr.type }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ arr.title }}</h5>
                    <p class="card-text">{{arr.innhold}} </p>
                    <input type="submit" value="Meld deg på" class="btn btn-primary"/>
                </div>
            </div>
    </form>
    {% endfor %}
{% endblock content %}