{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 style=" margin-bottom: 33px; display: flex; justify-content: center;">Mine meldinger</h1>
    {% for message in mineMessages %}
        <div class="card" style="margin-bottom: 15px">
                  <div class="card-body">
                    <p class="card-subtitle mb-2 text-muted">Dato: {{ message.date }}</p>
                    <h6 class="card-title">{{ message.content }}</h6>
                    <input type="submit" name="svar" value="Svar" class="btn btn-primary"/>
                  </div>
              </div>
    {% endfor %}
{% endblock content %}

{% block sidebar %}
    <div class="col-md-4" style="margin-top: 3%">
          <div class="content-section">
            <h2 style="margin-bottom: 30px; text-align: center">Se andres profil</h2>
              <fieldset class="form-group">
              </fieldset>
              <form method="POST">
                  {% csrf_token %}
                  <select id="bruker">
                    {%for bruker in brukere%}
                      <option value="{{ bruker.id }}">{{ bruker }}</option>
                    {% endfor %}
                  </select>
              <input type="submit" name="seProfil" value="Se profil" class="btn btn-primary" style="position: absolute; right: 33px; top: 95px" />
              </form>
          </div>
        </div>
{% endblock sidebar %}

{% block arrangementer %}

{% endblock arrangementer %}