<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600&display=swap" rel="stylesheet">
    <title>Strikkit</title>
        <link rel="icon" type="image/png" href="{% static '/website/images/Strikkit_icon.png' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static '/website/startPage.css' %}">
</head>
<body>
    <div>
        <div id="left-pane">
           <div id="text-pane">
                <div class="text">
                    <img class="icon" alt="icon" src="../../static/website/images/award.svg">
                    <p>Utfordre vennene dine.</p>
                </div>
                <div class="text">
                    <img class="icon" alt="icon" src="../../static/website/images/book.svg">
                    <p>Oppdag nye oppskrifter.</p>
                </div>
                <div class="text">
                    <img class="icon" alt="icon" src="../../static/website/images/knitting.svg">
                    <p>Skjerp dine ferdigheter.</p>
                </div>
            </div>

        </div>
        <div id="right-pane">
            <div id="login-items">
                <div id="text-container">
                    <img src="{% static '/website/images/Strikkit_logo_svart.svg' %}" alt="Strikkit Logo" height="60" width="60">
                    <h1>Sjekk ut dine venners siste bragder</h1>
                </div>
                <div id="button-container">
                    <h4>Registrer deg på Strikkit!</h4>
                    <button id="registrer-button" onclick="window.location.href = '/register'">Registrer deg</button>
                    <button id="login-button" onclick="window.location.href = '/login'">Logg inn</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>