{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Min profil</h1>

    <h3>Mine Innlegg</h3>
{% endblock content %}

{% block sidebar %}
    <div class="col-md-4">
          <div class="content-section">
            <h2>{{ user.first_name }}  {{ user.last_name }}</h2>
            <p class='text-muted'>
                {% if user.is_superuser %}
                    Du er en adminbruker
                {% elif user.is_bedrift %}
                    Du er en bedriftsbruker
                {% else %}
                    Du er en vanlig strikkebruker
                {% endif %}
            </p>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"><b>E-post: </b>{{ user.email }}</li>
                <li class="list-group-item list-group-item-light"><b>Brukernavn: </b>{{ user.username }}</li>
                <li class="list-group-item list-group-item-light"><b>Strikkenivå: </b>{{ user.strikkeNivaa }}</li>
                <li class="list-group-item list-group-item-light"><b>Fødselsdato: </b>{{ user.bursdag | date:"d/m/Y" }}</li>
              </ul>
            </p>
          </div>
        </div>
{% endblock sidebar %}

{% block arrangementer %}
    <div class="col-md-4">
          <div class="content-section">
              <h3>Mine Arrangementer</h3>
              {% for arr in mineArrangementer %}
                <div>
                    {{ arr.type }} {{ arr.title }}
                    Dato: {{ arr.tidspunkt }}
                    Mer informasjon: {{arr.innhold}}
                </div>
              {% endfor %}
          </div>
    </div>
    <br>
{% endblock arrangementer %}