<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load crispy_forms_tags %}
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="{% static '/website/images/Strikkit_icon.png' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static '/website/registerLogin.css' %}">

</head>
<body>
    <img src="{% static '/website/images/Strikkit_logo_svart.svg' %}" alt="Strikkit Logo" height="60" width="60">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend id="overskrift" class="border-bottom mb-4">Registrer din brukerkonto</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button id="submit" class="btn btn-outline-info" type="submit">Registrer deg</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Har du allerede en bruker? <a id="registrer" class="ml-2" href="{% url 'login' %}">Logg inn</a>
            </small>
        </div>
    </div>
<body/>
